body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  padding: 10px;
}

.page {
  display: none;
  background: #fff;
  padding: 10px;
  border-radius: 6px;
}

nav button, button, input, select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}

nav {
  display: flex;
  gap: 5px;
}

nav button {
  width: 50%;
}

.income { color: green; }
.expense { color: red; }
